:root {
  --bg-dark: oklch(0.15 0 340);
  --bg: oklch(0.2 0 340);
  --bg-light: oklch(0.25 0 340);
  --text: oklch(0.96 0 340);
  --text-muted: oklch(0.76 0 340);
  --highlight: oklch(0.5 0 340);
  --border: oklch(0.4 0 340);
  --border-muted: oklch(0.3 0 340);
  --primary: oklch(75.536% 0.15349 231.667);
  --secondary: oklch(0.76 0.2 56);
  --danger: oklch(69.573% 0.19521 30.302);
  --warning: oklch(0.7 0.2 100);
  --success: #4caf50;
  --info: oklch(0.7 0.2 260);
  --default-border-radius: 15px;
  --small: 0.75rem;
  --default: 1rem;
  --big: 1.25rem;
  --large: 1.5rem;
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
}

.light {
  --bg-dark: oklch(0.9 0 340);
  --bg: oklch(0.98 0 340);
  --bg-light: oklch(1 0 340);
  --primary: #005894;
  --text: var(--primary);
  --text-muted: oklch(88.224% 0.0001 271.152 / 0.9);
  --highlight: oklch(0.6 0 340);
  --border: oklch(0.85 0 340);
  --border-muted: oklch(82.656% 0.00009 271.152);
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: Lato, sans-serif;
  font-size: var(--default);
}

button {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
}

body,
#root {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

#backgroundContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 70vh;
  background-image: url(assets/banner.svg);
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, black 0%, transparent 90%);
  background-size: contain;
}

.light #backgroundContainer {
  background-image: url(assets/lightbanner.svg);
}

.card {
  background-color: var(--bg);
  border-radius: var(--default-border-radius);
  overflow: hidden;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid var(--border-muted);
  width: 100%;
}

.bold {
  font-weight: bold;
}

.mediumButton {
  width: 10rem;
  height: 3rem;
}

.bigButton {
  width: 15rem;
  height: 4.5rem;
  font-size: var(--big);
}

.header {
  font-size: var(--large);
  font-weight: bold;
}

.flexColumnGap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#mainContainer {
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 1;
  height: fit-content;
  margin: 7.5vh 0;
}

.componentContainer {
  width: clamp(350px, 90vw, 800px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.componentContainer > * {
  box-shadow: var(--shadow-m);
}

/* Menu styling */

#enterRaceContainer {
  background-image: url("assets/superRaceCar.svg");
  background-repeat: no-repeat;
  background-position: right -30% bottom 5%;
  background-size: 60%;
}

#enterRaceContainer > :nth-child(3) {
  background-color: var(--success);
}

#themeToggle {
  width: fit-content;
  padding: 0.75rem;
  background: none;
  border: 1px solid var(--border);
  background-color: oklch(0.25 0 340);
}

#menuOtherCards {
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#menuContainer {
  width: clamp(350px, 90vw, 900px);
}

@media (width <= 795px) {
  #menuContainer {
    gap: 1rem;
  }
}

#menuOtherCards {
  width: 100%;
}

#menuOtherCards > * {
  flex: 1 1;
  min-width: 350px;
  background-repeat: no-repeat;
  background-position: right -20% bottom 5%;
  background-size: 40%;
  box-shadow: var(--shadow-m);
}

#menuOtherCards > :nth-child(1) {
  background-image: url("assets/redCarFlipped.svg");
}

#menuOtherCards > :nth-child(1) > button {
  margin-top: auto;
}

#menuOtherCards > :nth-child(2) {
  background-image: url("assets/racetrackFriends.svg");
}

#menuOtherCards > :nth-child(2) > button {
  background-color: var(--secondary);
}

/* Practice styling */

#raceContainer {
  justify-content: center;
}

.raceOn {
  font-size: var(--big);
  font-weight: bold;
}

.RacetrackContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Racetrack {
  width: 100%;
  height: 75px;
  display: flex;
  gap: 0.5rem;
}

.Racetrack > :first-child {
  width: 90%;
  border-bottom: dashed 2px var(--primary);
  position: relative;
}

.light .Racetrack > :first-child {
  border-bottom: dashed 2px black;
}

.Racetrack > :first-child .avatar {
  position: absolute;
  left: calc(100% * var(--progress));
  transform: translateX(calc(-100% * var(--progress)));
  height: 100%;
  transition: 0.1s;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.Racetrack .text {
  align-self: center;
}

.Racetrack .text .span {
  color: var(--text-muted);
}

.Racetrack .car {
  height: 50%;
}

.Racetrack > :nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 10%;
  text-align: center;
  height: fit-content;
  align-self: center;
  gap: 0.5rem;
}

#secondaryContainer {
  width: 100%;
  background-color: var(--bg-light);
}

#textDisplay > * {
  font-size: var(--big);
  font-family: monospace;
  position: relative;
}

#textBox {
  border: 2px solid var(--border-muted);
  background-color: transparent;
  padding: 0.5rem;
  font-family: monospace;
}

.light #textBox {
  color: black;
}

#textBox.incorrect {
  background-color: #f0a3a3;
}

#textBox:focus {
  border: 2px solid var(--border);
}

.correct {
  color: #99cc00;
}

.incorrect {
  color: #803333;
  background-color: #f0a3a3;
}

.underline {
  text-decoration: underline;
}

.light .untyped {
  color: black;
}

.blinker::before {
  content: "";
  position: absolute;
  left: -1px;
  height: 100%;
  width: 2px;
  background-color: white;
  border-radius: 25px;
  animation: blink 1s ease infinite;
  animation-delay: 1s;
}

.light .blinker::before {
  background-color: black;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#raceButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#raceAgainButton {
  background-color: var(--secondary);
}

#infoCard {
  border: 1px solid var(--bg-light);
  padding: 0;
}

.light #infoCard,
.light #infoCard > :first-child {
  background-color: var(--primary);
}

.light #infoCard > :first-child {
  border-bottom: 1px solid var(--border-muted);
}

.light #infoCard * {
  color: white;
}

#infoCard > :first-child {
  padding: 1rem;
  background-color: var(--bg-light);
  font-weight: bold;
}

#infoContent,
#statCard {
  padding: 1.5rem;
}

#infoContent {
  border-bottom: 1px solid var(--border-muted);
}

#infoContent > :first-child {
  display: flex;
  justify-content: space-between;
}

#origin {
  font-size: var(--big);
}

#author,
#uploader {
  color: var(--text-muted);
}

.light #author,
.light #uploader {
  color: var(--text-muted);
}

.light #againButton {
  background-color: var(--secondary);
}

#statCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 1rem;
  align-items: center;
  width: 50%;
  min-width: 350px;
  box-sizing: border-box;
}

#statCard span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#statCard p {
  font-weight: bold;
}

#statCard span > :first-child {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--primary);
  background-color: rgb(51, 51, 51);
  padding: 0.25rem;
  border-radius: 50%;
}

.light #statCard span > :first-child {
  background-color: white;
}

.LoadingScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.LoadingScreen > :first-child {
  width: 5rem;
  height: 5rem;
}

.LoadingScreen.loading > :first-child {
  animation: spin 2s linear infinite;
}

.LoadingScreen.failed > :first-child {
  fill: red;
}

@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

.LoadingScreen > :nth-child(2) {
  font-size: var(--big);
}

.secondary {
  background-color: var(--secondary);
}

.TrafficLight {
  width: fit-content;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
}

.TrafficLight > * {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0.5;
}

.TrafficLight > :first-child {
  --light-color: var(--danger);
  background-color: var(--danger);
}

.TrafficLight > :nth-child(2) {
  --light-color: rgb(206, 206, 22);
  background-color: rgb(206, 206, 22);
}

.TrafficLight > :last-child {
  --light-color: var(--success);
  background-color: var(--success);
}

.TrafficLight > .active {
  opacity: 1;
  box-shadow: 0 0 7.5px var(--light-color);
}
