:root {
  --bg-dark: oklch(0.1 0 340);
  --bg: oklch(0.15 0 340);
  --bg-light: oklch(0.2 0 340);
  --text: oklch(0.96 0 340);
  --text-muted: oklch(0.76 0 340);
  --highlight: oklch(0.5 0 340);
  --border: oklch(0.4 0 340);
  --border-muted: oklch(0.3 0 340);
  --primary: oklch(0.76 0.2 236);
  --secondary: oklch(0.76 0.2 56);
  --danger: oklch(69.573% 0.19521 30.302 / 0.5);
  --warning: oklch(0.7 0.2 100);
  --success: oklch(71.529% 0.17562 155.376 / 0.5);
  --info: oklch(0.7 0.2 260);
  --default-border-radius: 15px;
  --small: 0.75rem;
  --default: 1rem;
  --big: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--default);
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#mainContainer {
  margin-top: 50vh;
  translate: 0 -50%;
  width: clamp(350px, 90vw, 900px);
  background-color: var(--bg);
  border-radius: var(--default-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem;
  gap: 3rem;
}

.Racetrack {
  width: 100%;
  height: 75px;
  display: flex;
}

.Racetrack > :first-child {
  width: 90%;
  border-bottom: dashed 2px var(--primary);
  position: relative;
}

.Racetrack > :first-child .avatar {
  position: absolute;
  left: calc(100% * var(--progress));
  transform: translateX(calc(-100% * var(--progress)));

  height: 100%;
  aspect-ratio: 1;
  background-image: url("assets/basic-red.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.Racetrack > :nth-child(2) {
  width: 10%;
  text-align: center;
  height: fit-content;
  align-self: center;
}

#secondaryContainer {
  width: 100%;
  background-color: var(--bg-light);
  border-radius: var(--default-border-radius);
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#textDisplay > * {
  font-size: var(--big);
}

#textBox {
  border: 2px solid var(--border-muted);
  background-color: transparent;
  padding: 0.5rem;
}

#textBox.incorrect {
  background-color: var(--danger);
}

#againButton {
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  background-color: var(--primary);
}

#textBox:focus {
  border: 2px solid var(--border);
}

.correct {
  background-color: var(--success);
}

.incorrect {
  background-color: var(--danger);
}

.underline {
  text-decoration: underline;
}
